<%@ Master Language="C#" MasterPageFile="~/Views/Shared/Base.Master" Inherits="System.Web.Mvc.ViewMasterPage" %>

<asp:Content ID="SiteTitle" ContentPlaceHolderID="TitleContent" runat="server">
    <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
</asp:Content>
<asp:Content ID="SiteContent" ContentPlaceHolderID="MainContent" runat="server">
    <div id="mainindex">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </div>
</asp:Content>
